body {
  overflow-y: hidden;
}


#tableList{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /*要素の高さを指定*/
  width: 300px;
  /*上下方向にはみ出した要素ををスクロールさせる*/
  overflow-x: scroll;
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
  text-align: center;
  white-space: nowrap;
  /* margin: auto; */
  margin: 0;
  padding-bottom: 50px;
  width: 100%;
  height: 90vh;
}
/*スクロールバー非表示（Chrome・Safari）*/
/* #tableList::-webkit-scrollbar{
  display:none;
} */

/* テーブル */
td {
  border: 1px solid #bd973d;
  padding: 1px 10px;
}

th {
  border: 1px solid #000;
  padding: 1em;
}

th .sort :hover {
  background-color: #ffffff;
}

table {
  border-collapse: collapse;
  border: solid 0px;/*表全体を線で囲う*/
  margin: auto;
  /* margin-top: 50px !important; */
}

#tableList thead {
    background-color: #364e8b;
    color: #fff;
}
/* 列ごとに色を変える */
/* #tableList td:nth-child(odd) {
    background:#ffffff;
}

#tableList td:nth-child(even) {
    background: #e0e0e0;
} */

/* 行ごとに色を変える */
#tableList tr:nth-child(odd) td {  
  background-color: #ffffff;  
}
#tableList tr:nth-child(even) td {  
  background-color: #e0e0e0;  
}  

.scopeCharname {
  font-size: 18px;
}

.scopeCharimg img {
  width: 50px;
  height: auto;
  margin-top: 6px;
}

table a {
  color: #065FD4;
  text-decoration: none;
  font-weight: bold;
}

table a:hover {
  text-decoration-line:underline;
}

img[src$="img/charimgs/0/000/0000.png"]{
  border-radius: 50px 50px 50px 50px;
}

.scopeCharimg img {
  width: 50px;
  height: auto;
  margin-top: 6px;
}

a {
  cursor: pointer;
  color: #0077a7;
}

p {
  font-size: 14px;
  margin: 0 !important;
}

.scopeCharType {
  font-size: 20px;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight:bold;
}

.scopeCharClass{
  font-size: 16px;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
}

/* レアリティの色 */
/* ★1 */
.stars-1:before {
  color: #00c4c4;
  content: '\2605';
}
.stars-1:after {
  color: #cccccc;
  content: '\2605\2605\2605\2605\2605';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ★2 */
.stars-2:before {
  color: #00ff4c;
  content: '\2605\2605';
}
.stars-2:after {
  color: #cccccc;
  content: '\2605\2605\2605\2605';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ★3 */
.stars-3:before {
  color: #88ff00;
  content: '\2605\2605\2605';
}
.stars-3:after {
  color: #cccccc;
  content: '\2605\2605\2605';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ★4 */
.stars-4:before {
  color: #ffd900;
  content: '\2605\2605\2605\2605';
}
.stars-4:after {
  color: #cccccc;
  content: '\2605\2605';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ★5 */
.stars-5:before {
  color: #ff7b00;
  content: '\2605\2605\2605\2605\2605';
}
.stars-5:after {
  color: #cccccc;
  content: '\2605';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ★5+ */
*[class~="stars-5+"]:before {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #e14444;
  content: '\2605\2605\2605\2605\2605\002B';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ★6 */
.stars-6:before {
  color: #0011ff;
  content: '\2605\2605\2605\2605\2605\2605';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/* ★6+ */
*[class~="stars-6+"]:before {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #8400ff;
  content: '\2605\2605\2605\2605\2605\2605\002B';
}
.stars:before, .stars:after {
  font-weight: bold;
  font-family: icomoon;
  font-size: 13px;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.type-s , .w-s {
  color: red;
  font-size: 20px;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight:bold;
}

.type-d , .w-d {
  color: green;
  font-size: 20px;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight:bold;
}

.type-q , .w-q {
  color: blue;
  font-size: 20px;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight:bold;
}

.type-p , .w-p {
  color: goldenrod;
  font-size: 20px;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight:bold;
}

.type-y , .w-y {
  color: darkorchid;
  font-size: 20px;
  text-align: center;
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight:bold;
}

.w-s , .w-d , .w-q , .w-p , .w-y{
  display: inline-block;
  padding: 5px;
}

.sort {
  cursor: pointer;
  user-select: none;
}

.sort:after {
  cursor: pointer;
  user-select: none;
  content: " \2195";
}

.sort.desc::after {
  content: " ▼";
}

.sort.asc::after {
  content: " ▲";
}

.search-list {
  padding: 50px;
}

.psMain {
  position: sticky;
  top: 0;
  overflow-x: hidden;
}

.flag_sub_window {
  text-align: center;
}

.open_sub_window {
  position: sticky;
  display: block;
  margin: 0 auto;
  top: 20vh;
  margin-bottom: 10px;
  margin-top: 5vh;
  width: 15em;
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #3388dd;
  opacity: 0.5;
  cursor: pointer;
}

.open_sub_window:hover {
    opacity: 0.8;
}

.check_sub_window {
    display: none;
}

.bg_sub_window {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.bg_sub_window:hover {
    transition: 0.5s;
}

.check_sub_window:checked + .bg_sub_window {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: 0.5s;
}

.sub_window {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 30px ;
    max-height: 90%;
    background-color: #fff;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
  .sub_window {
  width: 80%;
  padding: 30px 10px ;
    }  
}

@media screen and (max-width: 425px) {
  .sub_window {
  width: 100%;
  padding: 30px 10px ;
    }  
}

.close_sub_window {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: rotate(45deg);
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}
.close_sub_window::before,
.close_sub_window::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #3388dd;
    content: "";
}
.close_sub_window::before {
    width: 60%;
    height: 3px;
}
.close_sub_window::after {
    width: 3px;
    height: 60%;
}
.close_sub_window:hover {
    cursor: pointer;
}

.sub_window_content {
    display: table;
    margin: 0px auto;
}

input {
  overflow: hidden;
  font-family: "M PLUS Rounded 1c", sans-serif !important;
  border:solid 1px #707070;
  border-radius: 50px;
  width: 250px; /* 300 */
  /* height: 50px; */
  /* margin:0 0 20px; */
}
input:focus {
  outline:none;
  border-color:#000000;
}

/* ページネーション */
.pager {
  position: sticky;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 1em 2em;
  border-radius: 10px;
  opacity: 0.5;
  /* opacity: 0.8; */
  size: 20px;
}

.pager ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}

.pager ul li {
  margin: 0 5px;
  position: relative;
  left: -50%;
  float: left;
}

.pager ul li span,
.pager ul li a {
  display: block;
  padding: 8px 8px;
  border-radius: 5px;
}

.pager ul li a {
  background-color: #dadada;
  color: #000;
  text-decoration: none;
}

.pager ul li.active a:hover {
  color: #3f3f3f;
  background-color: #0767bb;
  opacity: 1 !important;
}

.pager ul li a:hover {
  color: #3f3f3f;
  background-color: #b6b4b4;
}

.pager ul li.active a {
  font-weight: bold;
  background-color: #337ab7;
}

.abilitySort {
  display: none;
}

.search-list__filter-types {
  margin: 10px 0 0 0 ;
  font-size: 20px;
}

.search-list__filter-type {
  margin-right: 100px;
}

.search-list__filter-name {
  margin-left: 100px;
}

.search-list__filter-data {
  margin: 0 100% 0 0;
}

@media screen and (max-width: 447px) {
  .pager ul li {
    font-size: 15px;
    }
}
@media screen and (max-width: 438px) {
  .pager ul li span,
  .pager ul li a {
    padding: 7px 7px !important;
    }  
}
@media screen and (max-width: 420px) {
  .pager ul li {
    font-size: 14px;
    }
}
@media screen and (max-width: 411px) {
  .pager ul li span,
  .pager ul li a {
    padding: 6px 6px !important;
    }  
}
@media screen and (max-width: 394px) {
  .pager ul li {
    font-size: 13px;
    }
}
@media screen and (max-width: 383px) {
  .pager ul li span,
  .pager ul li a {
    padding: 5px 5px !important;
    }  
}
@media screen and (max-width: 365px) {
  .pager ul li {
    font-size: 12px;
    }
}
@media screen and (max-width: 356px) {
  .pager ul li span,
  .pager ul li a {
    padding: 4px 4px !important;
    }  
}
@media screen and (max-width: 338px) {
  .pager ul li {
    font-size: 11px;
    }
}
@media screen and (max-width: 329px) {
  .pager ul li span,
  .pager ul li a {
    padding: 3px 3px !important;
    }  
}
@media screen and (max-width: 311px) {
  .pager ul li a {
    margin-top: 0.5vh;
    }
  .open_sub_window {
    margin-top: 6vh;
;
    }
}

.siteLink {
  display: none;
}