@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* ナビゲーション */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #364e8b;
}

/* 文字情報 */
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 55%;
  list-style: none;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* バーガーメニュー */
.burger {
  display: none;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.5s ease;
}
.nav-active {
  transform: translateX(0%) !important;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav .Logo {
    margin-right: 15px;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 89vh;
    top: 11vh;
    background-color: #364e8b;
    border-radius: 50px 0px 0px 50px;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.6s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* バーガーメニューの動作 */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}

/* 外部サイトリンク */
.siteLink {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align:  center;
  background-color:  #ddd;

}
.siteLink a {
  margin-left:20px;
}